<ul class="app-navigation" data-test-id="app-navigation">
  <li>
    <LinkTo @route="about">About</LinkTo>
  </li>
  <li>
    <LinkTo @route="filers">Filers</LinkTo>
  </li>
  <li>
    <LinkTo @route="receivers">Receivers</LinkTo>
  </li>
</ul>