/*-------------------------------------------*\
    standard table layout
\*-------------------------------------------*/
table.standard-table {
  width: 100%;

  th {
    tr {
      padding: 5px;
    }
  }

  tr {
    td {
      padding: 5px;
    }
  }
}