# compiled output
/dist
/tmp

# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
package-lock.json
.env
.DS_Store
.vscode
.tool-versions

# ember-try
.node_modules.ember-try/
package.json.ember-try