<div class="app-content" data-test-id="main-content">
  <h1>Overview</h1>
  <p>The purpose of this project is to display a quick and easy view of the filers. Tables are the simplest format in which to search, filter, sort, and organize information. Viewing details will open up a right side panel to view more information about a single item.</p>

  <h2>Future Improvements</h2>
  <ul>
    <li>Make it beautiful</li>
    <li>Add more filter, search, and sort options</li>
    <li>Add animation when the right panel opens to make a smoother transition</li>
    <li>Add pagination to the tables</li>
    <li>Add selected state to navigation buttons to give awareness to which page you are currently on</li>
    <li>Create currency formatter helper to format the award amounts</li>
    <li>Fix test suite so it works</li>
    <li>Add more comprehensive component tests</li>
    <li>Fix ember data json conversion (serialize/deserialize/normalize/etc)</li>
    <li>Add data model validations once ember data was working properly</li>
    <li>Update model unit tests to test validations</li>
  </ul>
</div>